[package]
name = "tako"
version = "0.0.0"
authors = [
  "Arian van Putten <aeroboy94@gmail.com>",
  "Ruud van Asseldonk <dev@veniogames.com>",
  "Tako Marks <me@tako.mx>"
]

[dependencies]
base64 = "0.9.0"
hyper  = "0.11.25"
ring   = "0.13.0-alpha"
